.App {
  text-align: center;
}


.App-header {
  background-color: #e5e8f0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rebeccapurple;
  font-family: 'Poppins', sans-serif;;
}
